{% extends 'base.html' %}

{% block head_title %}Spider Info{% endblock %}

{% block content %}

    <div class="container-fluid text-center">
        <h1>Info about the spider</h1>
        <br>
        <h3>User: {{ spider.twitter_user }}</h3>
        <h3>Testing: {{ testing }}</h3>
        {% if spider.no_info %}
            <div class="text-break">
                <h3>
                We're experiencing API limitations. Refresh the page or come back later or have us email you to notify
                you when your spider is ready
                </h3>
            </div>
        {% else %}
            <table class="table table-hover table-responsive">
                <thead class="thead-dark">
                    <tr>
                    {% for key in user_info.keys %}
                        <th scope="col">{{ key }}</th>
                    {% endfor %}
                    {% for key in user_profile_pics.keys %}
                        <th scope="col">{{ key }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for value in user_info.values %}
                            {% if 'http' in value %}
                                <td><a target="_blank" href="{{ value }}">Link</a></td>
                            {% else %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                        {% for value in user_profile_pics.values %}
                            {% if value is not None %}
                                <td><a target="_blank" href="{{ value }}">Profile Picture</a></td>
                            {% else %}
                                <td>None</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        {% endif %}

        <br>
        <div class="text-break">
            <h6><a href="{% url 'social_media:twitter:read-followers' spider.pk %}">followers path</a></h6>
            <h6><a href="{% url 'social_media:twitter:read-following' spider.pk %}">following path</a></h6>
        </div>

        <br>
        <div>
            <a href="{% url 'social_media:twitter:spider-update' spider.pk %}" class="btn btn-success">Update Spider</a>
            <a href="{% url 'social_media:twitter:spider-delete' spider.pk %}" class="btn btn-danger">Delete Spider</a>
        </div>

        <br>
        <a href="{% url 'social_media:twitter:spider-list' %}" class="btn btn-primary">Back to all spiders</a>
        <br>
        <br>

    </div>

{% endblock %}

