{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="container-fluid text-center">
    {% for question in question_list %}
        <h3>{{ question }}</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Submit</button>
            </div>
        </form>

    {% endfor %}
         {% if page_obj.has_other_pages %}
            <nav aria-label="">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><<</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href=""><span><<</span></a>
                        </li>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" aria-label="Next" href="?page={{ page_obj.next_page_number }}">>></a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link"><span>>></span></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>

{% endblock %}




